*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Avenir Next LT Pro", sans-serif;
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100vh;
}

/*----------------------
  $BODY
  ----------------------*/
body {
  background: #fff;
}

#landing:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url(../img/background_export.jpg);
  background-size: center;
  background-repeat: no-repeat;
  background-position: bottom;
}

.stage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#landing {
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 2rem;
  margin: 1rem 1rem;
  border-radius: 20px;
  background-color: #03030d;
  align-items: center;
  min-height: 500px;
  width: 100%;
}
@media screen and (min-width: 1500px) {
  #landing {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 900px) {
  #landing {
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  #landing {
    flex-direction: column;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
  }
}
#landing .landing__desc {
  z-index: 999;
  margin-left: 1rem;
}
@media screen and (max-width: 900px) {
  #landing .landing__desc {
    margin-top: 1rem;
    text-align: center;
    margin-right: 1rem;
  }
}
#landing .landing__desc .desc__subtitle {
  color: rgb(194, 194, 194);
  font-style: italic;
  margin-bottom: 1rem;
}
#landing .landing__desc .desc__title {
  color: #fff;
  font-size: 2.5rem;
  text-wrap: balance;
}
#landing .landing__desc .desc__butons {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
}
@media screen and (max-width: 900px) {
  #landing .landing__desc .desc__butons {
    justify-content: center;
  }
}
#landing .landing__desc .desc__butons a {
  text-decoration: none;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 30px;
  width: 300px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
#landing .landing__desc .desc__butons a:hover {
  background-color: #18cfd8;
}
#landing .landing__img img {
  display: none;
  max-width: 50vw;
  margin-left: auto;
  right: 0;
}
@media screen and (max-width: 900px) {
  #landing .landing__img img {
    max-width: 100%;
    width: auto;
    margin-left: auto;
    right: auto;
  }
}
#landing .landing__img {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-right: 1rem;
  margin-left: 1rem;
}
@media screen and (max-width: 900px) {
  #landing .landing__img {
    margin-bottom: 1rem;
  }
}
#landing .landing__img::before,
#landing .landing__img::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px; /* Adjust the width of the overlay */
  height: 100%;
  background: linear-gradient(to right, #011b28 30%, rgba(255, 255, 255, 0) 70%);
}
@media screen and (max-width: 900px) {
  #landing .landing__img::before,
  #landing .landing__img::after {
    background: linear-gradient(to right, #011b28 30%, rgba(255, 255, 255, 0) 70%);
  }
}
#landing .landing__img::before {
  left: 0;
  z-index: 1;
}
#landing .landing__img::after {
  right: 0;
  z-index: 1;
  background: linear-gradient(to left, #011b28 10%, rgba(255, 255, 255, 0) 90%);
}

/*----------------------
  $NAVBAR
    basic navbar styling
  ----------------------*/
nav {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9999;
  width: fit-content;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.025rem;
  top: 10px;
  position: sticky;
  position: -webkit-sticky;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background: #011b28;
  border-radius: 30px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.281);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 1fr;
    width: 100%;
    top: 0px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: 0px 13px 33px rgba(0, 0, 0, 0.781);
  }
}
nav a {
  border-radius: 30px;
  width: 100%;
  line-height: 3rem;
  text-decoration: none;
  color: #fff;
  padding: 0 1rem;
}
@media screen and (max-width: 900px) {
  nav a {
    border-radius: 0px;
    line-height: 2rem;
  }
}
nav a:hover {
  background: #00939c;
  border-radius: 30px;
}
@media screen and (max-width: 900px) {
  nav a:hover {
    border-radius: 0px;
  }
}
nav .active {
  background: #00939c;
  border-radius: 30px;
  padding: 0 1rem;
}
@media screen and (max-width: 900px) {
  nav .active {
    border-radius: 0px;
  }
}

/*----------------------
  $MISC
  ----------------------*/
#projects {
  padding-top: 4rem;
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  #projects {
    padding-top: 1rem;
  }
}
#projects .logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#projects .logos a:hover {
  opacity: 0.5;
}
#projects .logos .logo img {
  width: 200px;
}
#projects .head__projects {
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-wrap: balance;
}
#projects .pres_other_projects {
  max-width: 1200px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-wrap: balance;
}
#projects .ureach__list {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
@media screen and (max-width: 900px) {
  #projects .ureach__list {
    flex-direction: column;
  }
}
#projects .ureach__list .ureach__right {
  display: flex;
  gap: 2rem;
}
#projects .ureach__list .ureach__right .ureach__proj {
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 2rem;
}
#projects .ureach__list .ureach__right .ureach__proj .ureach__proj__img {
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: 5px solid #d3d3d3;
}
#projects .ureach__list .ureach__right .ureach__proj .ureach__proj__img img {
  width: 350px;
}
#projects .ureach__list .ureach__right .ureach__proj .ureach__proj_title:nth-child(1) {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
#projects .ureach__list .ureach__right .ureach__proj .ureach__proj__body {
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 350px;
}
#projects .ureach__list .ureach__right .ureach__proj .ureach__proj_buttons {
  margin-top: 2rem;
}
#projects .ureach__list .ureach__right .ureach__proj .ureach__proj_buttons a {
  border: 1px solid #000;
  text-decoration: none;
  padding: 0.75rem;
}
#projects .ureach__list .ureach__right .ureach__proj .ureach__proj_buttons a:nth-child(1) {
  background-color: #00939c;
  color: #fff;
}
#projects .ureach__list .ureach__right .ureach__proj .ureach__proj_buttons a:nth-child(1):hover {
  opacity: 0.8;
}
#projects .ureach__list .ureach__right .ureach__proj .ureach__proj_buttons a:nth-child(2) {
  background-color: #fff;
  color: #000;
}
#projects .ureach__list .ureach__right .ureach__proj .ureach__proj_buttons a:nth-child(2):hover {
  background-color: #45b1b7;
  opacity: 0.8;
}
#projects .database__list {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  #projects .database__list {
    flex-direction: column;
  }
}
#projects .database__list .database__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  #projects .database__list .database__right {
    grid-template-columns: 1fr;
  }
}
#projects .database__list .database__right .database__proj1,
#projects .database__list .database__right .database__proj2,
#projects .database__list .database__right .database__proj3,
#projects .database__list .database__right .database__proj4 {
  border-radius: 20px;
  min-width: 290px;
  height: 155px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  filter: brightness(80%);
}
@media screen and (max-width: 768px) {
  #projects .database__list .database__right .database__proj1,
  #projects .database__list .database__right .database__proj2,
  #projects .database__list .database__right .database__proj3,
  #projects .database__list .database__right .database__proj4 {
    width: 90vw;
  }
}
#projects .database__list .database__right .database__proj1:hover,
#projects .database__list .database__right .database__proj2:hover,
#projects .database__list .database__right .database__proj3:hover,
#projects .database__list .database__right .database__proj4:hover {
  filter: brightness(100%);
}
#projects .database__list .database__right .database__proj1 a,
#projects .database__list .database__right .database__proj2 a,
#projects .database__list .database__right .database__proj3 a,
#projects .database__list .database__right .database__proj4 a {
  text-decoration: none;
  padding: 3rem;
  border: 100px solid red;
  border-radius: 30px;
}
#projects .database__list .database__right .database__proj1 {
  background-image: url("../img/covidnma.jpg");
}
#projects .database__list .database__right .database__proj2 {
  background-image: url("../img/metapreg.jpg");
}
#projects .database__list .database__right .database__proj3 {
  background-image: url("../img/metapsy.jpg");
}
#projects .database__list .database__right .database__proj4 {
  background-image: url("../img/psymatik.jpg");
}
#projects .card__container {
  display: flex;
  justify-content: right;
  align-items: right;
}
#projects .card__container-card {
  position: relative;
  border-radius: 20px;
  width: 300px;
  background: white;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  #projects .card__container-card {
    width: 90vw;
  }
}
#projects .card__container-card:hover:before {
  width: 100px;
}
#projects .card__container-card:hover:after {
  height: 100px;
}
#projects .card__container-card:hover span {
  background: none;
}
#projects .card__container-card:hover span:before {
  height: 100px;
}
#projects .card__container-card:hover span:after {
  width: 100px;
}
#projects .card__container-card:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -5px;
  width: 50px;
  height: 5px;
  background: #011b28;
  transition: all 0.3s ease;
}
#projects .card__container-card:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -5px;
  width: 5px;
  height: 50px;
  background: #011b28;
  transition: all 0.3s ease;
}
#projects .card__container-card-img {
  width: 180px;
  height: 170px;
}
#projects .card__container-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#projects .card__container-card h1 {
  margin: 0.4em 0;
  font-size: 1rem;
  font-weight: bold;
}
#projects .card__container-card p {
  font-size: 18px;
  margin: 0.5em 0;
  font-family: arial;
}
#projects .card__container-card a {
  background: #011b28;
  color: white;
  text-decoration: none;
  padding: 0.4em 0.6em;
  margin: 0.7em 0;
}
#projects .card__container-card span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#projects .card__container-card span:before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0px;
  width: 5px;
  height: 50px;
  background: #011b28;
  transition: all 0.3s ease;
}
#projects .card__container-card span:after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0px;
  width: 50px;
  height: 5px;
  background: #011b28;
  transition: all 0.3s ease;
}

#about {
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 20px;
  margin-top: 4rem;
  background-color: #011b28;
  color: #fff;
}
@media screen and (min-width: 1500px) {
  #about {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 900px) {
  #about {
    margin-top: 1rem;
  }
}
#about .body_guidance {
  text-align: center;
  font-style: italic;
  max-width: 70ch;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  text-wrap: balance;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}
@media screen and (max-width: 900px) {
  #about .body_guidance {
    border-left: 0px;
    border-right: 0px;
  }
}
#about .head__guidance {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}
#about .guidance__manifesto {
  display: grid;
  align-items: center;
  justify-content: center;
}
#about .guidance__manifesto .manfesto_title {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  max-width: 30ch;
  text-wrap: balance;
  margin-bottom: 2rem;
}
#about .guidance__manifesto a {
  margin-top: 2rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
#about .guidance__manifesto a:hover {
  opacity: 0.7;
}
#about .guidance__manifesto a img {
  margin-top: 1rem;
  text-align: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}
#about .guidance__list {
  border-top: 2px solid #fff;
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  gap: 1rem;
}
@media screen and (max-width: 1600px) {
  #about .guidance__list {
    max-width: 80vw;
  }
}
@media screen and (max-width: 1400px) {
  #about .guidance__list {
    max-width: 90vw;
  }
}
@media screen and (max-width: 1200px) {
  #about .guidance__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  #about .guidance__list {
    grid-template-columns: 1fr;
  }
}
#about .guidance__subtitle {
  font-weight: bold;
  padding-bottom: 1rem;
}
#about .guidance__items {
  display: grid;
  gap: 1rem;
}
#about .guidance__items a {
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#about .guidance__items a:hover {
  background: rgba(255, 255, 255, 0.5);
}

#registration {
  padding-top: 8rem;
  padding-bottom: 12rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  #registration {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}
#registration .head__registration {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#registration .registration__btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#registration .registration__btns .register_btn {
  background-color: #fff;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
  max-width: 25ch;
  text-wrap: balance;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
#registration .registration__btns .register_btn:hover {
  background-color: #eeeeee;
}
#registration .registration__btns .register_btn .fas {
  font-size: 5rem;
}
#registration .registration__btns a {
  color: #000;
  text-align: center;
  text-decoration: none;
}
#registration .tuto {
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#sec_team {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}
#sec_team h3 {
  margin-top: 2rem;
}
@media screen and (min-width: 1500px) {
  #sec_team {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}
#sec_team .section_title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #011b28;
}

.about_leaders,
.about_team {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #011b28;
  display: grid;
  justify-content: space-evenly;
  gap: 2rem;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

.about_leaders {
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1200px) {
  .about_leaders {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 650px) {
  .about_leaders {
    grid-template-columns: 1fr;
  }
}

.about_team {
  grid-template-columns: auto auto;
  gap: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
@media screen and (max-width: 650px) {
  .about_team {
    grid-template-columns: 1fr;
  }
}

.memb {
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: bottom;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.photo {
  border-radius: 30px;
  border: solid 2px #fff;
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
  width: 200px;
  width: 150px;
}

.memb_name {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.memb_affil {
  font-size: 0.93rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.memb_affil .flag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.icons {
  display: inline-block;
  margin-right: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.icons a {
  color: #fff;
}

.icons a:hover {
  color: rgb(131, 131, 131);
}

.read_more {
  display: grid;
  align-items: start;
  justify-content: end;
  height: 100%;
}

.readmore_button {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.readmore_button:hover {
  color: #7a7a7a;
}

@keyframes rotate-45 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
/* apply the animation to the element when triggered */
.rotate-45 {
  animation-name: rotate-45;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.add_border {
  border-bottom: 0px solid #fff !important;
}

.rmv_border {
  border-bottom: 0px solid #fff !important;
}

.read_more_text {
  display: flex;
  flex-direction: column;
  align-items: baseline !important;
  justify-content: baseline !important;
  top: 0 !important;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#read_more_textMS,
#read_more_textCG,
#read_more_textSC,
#read_more_textJF,
#read_more_textRD,
#read_more_textEV,
#read_more_textPFP {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 0.9rem;
  font-style: italic;
  max-height: 0;
  overflow: hidden;
  border: none;
}

.show-read-more {
  animation-name: slide-down;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  0% {
    max-height: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  50% {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  100% {
    max-height: 350px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
h3 {
  font-size: 1.4rem;
  text-align: center;
  line-height: 200%;
  margin-left: 3rem;
  margin-right: 3rem;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.wrap {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0 60px;
}

.wrap:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 1rem auto;
  max-width: 800px;
  width: 100%;
}
.slider a {
  transition: all 500ms ease-out;
}
.slider a:hover {
  filter: brightness(0.8);
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: #000;
  font-family: monospace;
  font-size: 5rem;
  z-index: 300;
  outline: none;
  cursor: pointer;
}
.slick-arrow:hover {
  color: #00939c;
}

.slick-prev {
  left: -50px;
  text-align: left;
}

.slick-next {
  right: -50px;
  text-align: right;
}

.item.slick-slide {
  width: 400px;
  height: 400px !important;
  transition: transform 0.4s;
  position: relative;
}

.slick-slide:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.4s;
}

.item.slick-slide {
  transform: scale(0.7) translate(640px);
}

.item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.8) translate(-250px);
  z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  transform: scale(0.7) translate(-640px);
  z-index: 5;
}

.item.slick-slide.slick-active {
  transform: scale(0.8) translate(250px);
}

.item.slick-slide.slick-center {
  /* margin: 0 -10%; */
  transform: scale(1);
  z-index: 30;
}

.slick-center:after {
  opacity: 0;
}/*# sourceMappingURL=index.css.map */